##########################
#
#	extensions
#
##########################
*.exe
*.wav
*.o
*.m4a
*.pyc
*.jpg	# 2017/06/10 12:23:12
*.avi	# 2017/06/10 12:23:12


##########################
#
#	paths
#
##########################
Default/
Default/*
Default/*/*

data/*

python/*/*/*/*.jpg
python/*/*/*.avi
