##########################
#
#	extensions
#
##########################
*.exe
*.wav
*.o
*.m4a
*.pyc


##########################
#
#	paths
#
##########################
Default/
Default/*
Default/*/*

data/*
